.button {
    background: #1c88bf;
    color: fade-out(white, .15);
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    border: none;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

.button--link {
    background: none;
}


.button--secondary {
    background: #888888;    
}

